/* styling for body*/
body {
    background-color: #fffad72a;
    height: 1000px;
    margin-top: 91.5px;
    width: 500px;
    display: flex;
    position: relative;
}

/* styling for navigation bar*/
nav {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: lightgray;
}

.search {
    margin-left: 900px;
}

.searchbar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: black;
}

.searchbar button img {
    width: 15px;
    margin-bottom: 5px;
}

.searchbar button {
    margin-left: 50px;
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: lightcoral;
    cursor: pointer;
}

.cart button img {
    width: 38px;
}

.cart button {
    margin-left: 20px;
    text-align: justify;
    border: 0;
    background: lightgray;
    padding: 10px 1.5rem;
    cursor: pointer;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}