<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5aced6ce5f.js" crossorigin="anonymous"></script>
    <title>School Clasess</title>
</head>

<body>
    <div id="app">
        <!-- Output banner and first part of navigation -->
        <nav class="navbar navbar-expand-sm fixed-top">

            <div class="search">
                <form class="searchbar">
                    <input type="text" placeholder="search">
                    <button type="submit"><img src="images/search.png"></button>
                </form>

            </div>
            <div class="cart"> <button type="submit" @click="showCheckout"><img src="images/cart.png"><b>Basket
                        {{cartItemCount}}</b></button>
            </div>
        </nav>
        <div v-if="showProduct">
            <div class="card" v-for="lesson in lessons">
                <div class="info">
                    <p><b>Subject: </b>{{lesson.subject}}</p>
                    <p><b>Location: </b>{{lesson.location}}</p>
                    <p><b>Price: </b>£{{lesson.price}}</p>
                    <p><b>Availability: </b>{{lesson.availability}}</p>
                </div>
                <i :class="lesson.icon"></i>
                <button @click="addItem(lesson)" v-if="canAddToCart(lesson)"><b>Add to Cart</b></button>
                <span v-if='lesson.availability === cartCount(lesson.id)'>All out!</span>
                <span v-else-if="lesson.availability - cartCount(lesson.id) < 5">
                    Only {{lesson.availability - cartCount(lesson.id)}} left!
                </span>
                <span v-else>Buy now!</span>
            </div>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            ...
        </div>
    </div>


    <script>
        let app = new Vue({
            el: "#app",
            data: {
                lessons: [],
                cart: [],
                showProduct: true
            },
            methods: {
                addItem: function (lesson) {
                    this.cart.push(lesson.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart(arrayy) {
                    return arrayy.availability > this.cartCount(arrayy.id);
                }
            },
            computed: {
                cartItemCount: function () { // the property name
                    // its value is calculated when it is called
                    return this.cart.length || "";
                },
            },

            mounted() {
                // Fetch lessons data from an external JSON file using Fetch API
                fetch('lessons.json')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Assign the fetched data to the Vue instance's data property
                        this.lessons = data.lessons;
                    })
                    .catch(error => {
                        console.error('Error fetching lessons:', error);
                    });
            }
        })



    </script>
</body>

</html>