<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5aced6ce5f.js" crossorigin="anonymous"></script>
    <!-- Add this line to include the list.js library for search functionality-->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
    <title>School Clasess</title>
</head>

<body>
    <div id="app">
        <!-- Output banner and first part of navigation -->
        <nav class="navbar navbar-expand-sm fixed-top">

            <div class="search">
                <div class="searchbar">
                    <input type="text" placeholder="search">
                </div>
            </div>
            <div class="cart"> <button type="submit" @click="showCheckout" v-if="disableCart"><i
                        class="fa-solid fa-cart-shopping fa-lg"></i><b>Basket {{cartItemCount}}</b></button>
                <button disabled='disabled' v-else>
                    <i class="fa-solid fa-cart-shopping fa-lg"></i><b>Basket {{cartItemCount}}</b>
                </button>

            </div>
        </nav>

        <div v-if="showProduct">

            <div>
                <p><b>Sort by:</b></p>
                <div>
                    <input type="radio" v-model="selectedtype" value="subject" checked>
                    Subject
                    </label>

                    <label>
                        <input type="radio" v-model="selectedtype" value="location">
                        Location
                    </label>

                    <label>
                        <input type="radio" v-model="selectedtype" value="price">
                        Price
                    </label>

                    <label>
                        <input type="radio" v-model="selectedtype" value="availability">
                        Availability
                    </label>
                    <p><b>Order by:</b></p>
                    <div>
                        <input type="radio" v-model="selectedorder" value="asc" checked>
                        Ascending
                        <input type="radio" v-model="selectedorder" value="desc">
                        Descending
                    </div>
                </div>
                <div class="card" v-for="lesson in lessons">
                    <div class="info">
                        <p><b>Subject: </b>{{lesson.subject}}</p>
                        <p><b>Location: </b>{{lesson.location}}</p>
                        <p><b>Price: </b>£{{lesson.price}}</p>
                        <p><b>Availability: </b>{{lesson.availability}}</p>
                    </div>
                    <i :class="lesson.icon"></i>
                    <button disabled='disabled' v-if="lesson.availability === 0"><b>Add to Cart</b></button>
                    <button @click="addItem(lesson)" v-if="lesson.availability !== 0"><b>Add to Cart</b></button>
                    <span v-if='lesson.availability === 0'>All out!</span>
                    <span v-else-if="lesson.availability < 5">
                        Only {{lesson.availability }} left!
                    </span>
                    <span v-else>Buy now!</span>
                </div>
            </div>
        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            <h2> Cart</h2>
            <form @submit.prevent="submitForm">
                <div class="card" v-for="product in cart">
                    <div class="info">
                        <p><b>Subject: </b>{{product.subject}}</p>
                        <p><b>Location: </b>{{product.location}}</p>
                        <p><b>Price: </b>£{{product.price}}</p>
                    </div>
                    <i :class="product.icon"></i>
                    <button @click="rmItem(product)"><b>Remove</b></button>
                </div>
                <div class="c">
                    <div></div>
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name:</strong>
                        <!-- This input field is bound to 'firstName' in the 'order' object -->
                        <input v-model.trim="order.name" required />
                    </p>
                    <p>
                        <strong>Phone Number:</strong>
                        <!-- This input field is bound to 'lastName' in the 'order' object -->
                        <input v-model="order.number" required />
                    </p>
                </div>
                <div>
                    <h2>Customer Information</h2>
                    <p>Name: {{order.name}}</p>
                    <p>Number: {{order.number}}</p>
                    <button :disabled="!isValidForm">Place Order</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                lessons: [],
                cart: [],
                showProduct: true,
                order: {
                    name: '',
                    number: ''
                },
                selectedtype: 'subject',
                selectedorder: 'asc',
            },
            methods: {
                addItem: function (lesson) {
                    this.cart.push(lesson);
                    this.lessons[lesson.id].availability -= 1;
                },
                rmItem: function (carts) {
                    this.lessons[carts.id].availability += 1;
                    // Find the index of the product in the cart array
                    const index = this.cart.findIndex(item => item.id === carts.id);

                    // Remove the product from the cart array using the index
                    if (index !== -1) {
                        this.cart.splice(index, 1);
                    }
                    if (this.cart.length === 0) {
                        this.showProduct = true;
                    }
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].id === id) {
                            count++;
                        }
                    }
                    return count;
                },
                canAddToCart(arrayy) {
                    return arrayy.availability > this.cartCount(arrayy.id);
                },
                submitForm() {

                    const newOrder = {
                        // Assuming you have the necessary properties for newProduct
                        // Adjust this according to your data structure
                        full_name: this.order.name,
                        phone_number: this.order.number,
                        lessons: this.cart.map(item => item._id),
                        number_of_items: this.cart.length
                    };

                    // Identify the lessons in the submitted order
                    const ids = this.cart.map(item => item._id);

                    // Decrease the availability count for each ordered lesson
                    ids.forEach(lessonId => {
                        const orderedLesson = this.lessons.find(lesson => lesson._id === lessonId);
                        if (orderedLesson) {
                            // Decrease the availability count based on the number of items ordered
                            availability: orderedLesson.availability;

                        }
                    });

                    log.console(ids);

                    fetch("http://school-classes-env.eba-xbp2nmqm.eu-west-2.elasticbeanstalk.com/orders", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(ids),
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    }).then(json => {
                        console.log("Success: " + json.acknowledged);
                    }).catch(error => {
                        console.error('Error submitting order:', error);
                    });

                    //Assuming you have a route on the server to handle updates, replace '/lessons' with the actual route
                    fetch("http://school-classes-env.eba-xbp2nmqm.eu-west-2.elasticbeanstalk.com/lessons", {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(update),
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    }).then(json => {
                        console.log("Lesson availability updated:", json);
                    }).catch(error => {
                        console.error('Error updating lesson availability:', error);
                    })
                        .catch(error => {
                            console.error('Error submitting order:', error);
                        });

                    alert('Order submitted!')
                    // Remove all elements from the cart array
                    this.cart.splice(0, this.cart.length);
                    this.showProduct = true;
                    this.order.name = '';
                    this.order.number = '';
                },
            },
            computed: {
                cartItemCount: function () { // the property name
                    // its value is calculated when it is called
                    return this.cart.length || 0;
                },
                disableCart: function () {
                    return this.cartItemCount > 0;
                },

                isValidName: function () {
                    return /^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$/.test(this.order.name);
                },
                isValidPhoneNumber: function () {
                    return /^\d{10}$/.test(this.order.number);
                },
                isValidForm: function () {
                    return this.isValidName && this.isValidPhoneNumber;
                },
                // sortedProducts() {
                //     // the comparison function that defines the order
                //     const factor = this.selectedorder === 'asc' ? 1 : -1;
                //     const compare = (a, b) => {
                //         if (a[this.selectedtype] < b[this.selectedtype]) return -1 * factor;
                //         if (a[this.selectedtype] > b[this.selectedtype]) return 1 * factor;
                //         return 0;
                //     }
                //     // sort the 'lessons' array and return it
                //     return this.lessons.slice().sort(compare);
                // },

            },

            mounted() {
                // Fetch lessons data from an external JSON file using Fetch API
                //localhost:3000/lessons
                fetch('http://school-classes-env.eba-xbp2nmqm.eu-west-2.elasticbeanstalk.com/lessons')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Assign the fetched data to the Vue instance's data property
                        this.lessons = data;
                    })
                    .catch(error => {
                        console.error('Error fetching lessons:', error);
                    });
            }
        })
    </script>
</body>

</html>